Here are all your divisions:
</p>

<ul class="fa-ul">
<% @divisions.each() do |division| %>
  <li><i class="fa-li fa fa-building"></i><a href="/divisions/<%= division.id %>"><%= division.name %></a></li>
<% end %>
</ul>

<p>
Please enter your division here:
</p>
<form action="/divisions" method="post">
<div class="form-group">
<label for="name">New Division Name:</label>
<input type="text" name="name" id="name" class="form-control" required>
</div>
<button name="button" class="btn btn-success" type="submit">Save</button>
</form>
<p>
