<center>
  <h1><%= @division.name() %> Division</h1>

</center>


<h2>Update Division</h2>
<p>
  <form action="/divisions/<%= @division.id %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="division">Rename your division</label>
    <input id="division" name="division" type="text">
    <button type="submit">Update</button>
    </form>
</p>

<h2>Destroy Division</h2>

<form action="/divisions/<%= @division.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit" class="btn">Destroy</button>
</form>

<h2>Here are all of your employees:</h2>

<ul>
  <% @division.employees.each() do |employee| %>
  <li> <%= employee.name() %> </li>
  <% end %>
</ul>
