<center>
  <h1>Employee Tracker</h1>
</center>
<h4><a href="/employees">Employees</a></h4>
<h4><a href="/projects">Projects</a></h4>
<h4><a href="/divisions">Divisions</a></h4>
<p>
  Here are all your staff:
</p>

<ul>

</ul>
